.card {
  border-radius: 1rem !important;
  background: black !important;
  cursor: pointer;
}















.imgCard img {
  border-radius: 50%;
  width: 224px;
  height: 224px;
}

.nameCard {
  margin: 1rem 0;
  color: white;
}
.cardText {
  font-size: 1.5rem !important;
}

@media only screen and (max-width: 992px) {
  .card {
    width: 700px;
    height: 300px;
    border-radius: 50px !important;
  }
  .cardText {
    font-size: 1.2rem !important;
  }
  .imgCard img {
    width: 174px;
    height: 174px;
  }
}
@media only screen and (max-width: 768px) {
  .card {
    width: 500px;
    height: 250px;
    border-radius: 50px !important;
  }
  .cardText {
    font-size: 0.8rem !important;
  }
  .imgCard img {
    width: 107px;
    height: 107px;
  }
}
@media only screen and (max-width: 576px) {
  .card {
    width: 400px;
    height: 200px;
    border-radius: 50px !important;
  }
  .cardText {
    font-size: 0.6rem !important;
  }
  .imgCard img {
    width: 74px;
    height: 74px;
  }
}
