.aboutSlide {
    display: flex;
    justify-content: center;
}

.slideBox {
    width: 45%;
    background-color: #FF3737;
    min-height: 400px;
    margin-top: 5rem;
    position: relative;
    border-radius: 10px;
}

.slideBox img {
    display: none;
    object-fit: cover;
}

.slideBox img.active {
    display: block;
}

.slideBox::before {
    content: ' ';
    width: 100%;
    min-height: 400px;
    position: absolute;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%234A4A4AFF' stroke-width='3' stroke-dasharray='30' stroke-dashoffset='24' stroke-linecap='square'/%3e%3c/svg%3e");
    left: -10px;
    bottom: -10px;
    z-index: -1;
    border-radius: 10px;
}




/*-------------------------*/


.navigation span {
    color: #534F4F;
}

.navigation span svg {
    cursor: pointer;
}

.dashBorder {
    animation: dashBorder 3s ease-in-out;
    animation-iteration-count: infinite;
    color: #ff3737;
    width: 2px;
    height: 90px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='5' stroke-dasharray='20 ' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

@keyframes dashBorder {
    0% {
        border-color: #534F4F;
    }
    100% {
        border-color: #ff3737;
    }
}