.aboutHero {
    height: 80vh;
    padding-top: 8rem;
    padding-left: 5rem;
}

.textHero {
    width: 500px;
    padding-left: 2rem;
    margin-bottom: 13rem;
}

.textHero p {
    line-height: 30px;
    letter-spacing: 0.5px;
    width: 90%;
    color: #534F4F;
}


.arrowDown {
    animation: arrow 1s ease-in;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes arrow {

    0% { top: 0 }
    100% { top: 5px }

}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

@media screen and (max-width: 768px){
    .aboutHero {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 576px){

    .textHero {
        width: 330px;
        padding-left: 2rem;
        margin-bottom: 5rem;
    }

}

