.aboutHero {
    height: 80vh;
    padding: 5rem;
}

.textHero {
    padding: 0 0 0 14rem;
}

.subHeading {
    color: crimson;
    font-size: 2rem;
    position: absolute;
    top: -50px;
    right: -132px;
}

.heading {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: -30px;
}

.headLine {
    width: 150px;
    height: 2px;
    position: absolute;
    background-color: #ffffff;
}

.arrowDown {
    animation: arrow 1s ease-in;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes arrow {

    0% { top: 0 }
    100% { top: 5px }

}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

@media screen and (max-width: 768px){

}

@media screen and (max-width: 576px){}

