.hero {
    padding-top: 0;
    height: 90vh;
}

.heroText {
    font-family: "Baloo Thambi 2";
}

.heroText h2 {
    overflow: hidden;
}

.heroText h2 span {
    font-size: 36px;
    display: inline-block;
    transform: translateY(120%);
}

.imageWrapper {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
}

.imageWrapper img {
    position: absolute;
}

.dayi {
    right: 0;
    top: 0;
}

.sculp {
    left: -40px;
    top: 10%;
}

.rose {
    right: 0;
    bottom: 10%;
}

.grid {
    top: 10%;
}



@media screen and (max-width: 1200px) {


    .hero {
        height: 40vh;
    }


    .heroText h2 span {
        font-size: 28px;
    }

    .imageWrapper{
        width: 350px;
        height: 350px;
    }


}

@media screen and (max-width: 992px) {

    .heroText {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;

    }

}

@media screen and (max-width: 768px) {




    .heroText h2 span {
        font-size: 18px;
    }

    .imageWrapper {
        width: 250px;
        height: 250px;
    }

}

@media screen and (max-width: 576px){

        .rowWrap {
            flex-direction: column-reverse;

        }
        .hero {
            height: 100vh;
        }

    .imageColumn {
        display: flex;
        justify-content: center !important;
    }

}


