.hero {
    min-height: 80vh;
}

.firstColumn {
    padding-left: 2rem;
}

/*--- hero text animation ------*/

.heroText h2 span {
    font-size: 24px;
}
@media screen and (min-width: 320px) {
    .heroText h2 span {
        font-size: calc(24px + 6 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1200px) {
    .heroText h2 span {
        font-size: 36px;
    }
}


.heroText {
    font-family: "Baloo Thambi 2";
}

.heroText h2 {
    overflow: hidden;
}

.heroText h2 span {
    display: inline-block;
    transform: translateY(120%);
}

.grid {
    width: 80%;
}


.dayi {
    top: -35%;
    right: 5%;
    width: 35%;
    animation-delay: 5s;
    animation: dayi 6s ease-in-out;
    -moz-animation: dayi 6s ease-in-out;
}

@keyframes dayi {
    0% {right: 300%}
    100% { right: 5%}
}

.heroImg {
    width: 55%;
    left: 5%;
    animation: heroImg 5s ease-in-out;
    -moz-animation: heroImg 5s ease-in-out;
}

@keyframes heroImg {
    0% { opacity: 0}
    100% { opacity: 1}
}

.rose {
    width: 40%;
    bottom: -15%;
    right: -2%;
    animation: rose 3s ease-in-out;
    -moz-animation: rose 3s ease-in-out;
}
@keyframes rose {
    0% {bottom: 150%}
    100% { bottom: -15%}
}

.sun {
    width: 45%;
    left: 15%;
    top: -5%;
}

.arrow {
    width: 3.5%;
    position: absolute;
    animation-name: arrow;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {top: 10px}
    100% {top: 30px}
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .hero {
        max-width: 925px !important;
    }
    .heroRow {
    display: flex;
}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .heroRow {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .firstColumn,.secondColumn {
        justify-content: center;
    }

    .firstColumn {
        padding: 2rem;
    }

    .secondColumn {
        width: 70%;
        padding: 2rem;
        margin: 0 auto;
    }

}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .secondColumn {
        width: 90%;
        padding: 1rem;
    }
    .firstColumn {
        padding: 1rem;
        margin-top: 2rem;
    }
}







