.homeWrapper {
  max-width: 1800px;
  margin: 0 auto;
}

.landing {
  max-height: 800px;
}

/*---
<video
          autoPlay
          loop
          muted
          style={{
            width: '100%',
            position: 'fixed',
            left: 0,
            top: 0,
            zIndex: -1,
            objectFit: 'cover',
          }}
        >
          <source src={home} type="video/mp4" />
        </video>
 */
