.title {
  position: relative;
  padding-top: 200px;
  padding-bottom: 100px;
}

.back {
  color: black;
  font-family: Impact;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3e3e3e;
  font-size: 100px;
}

.front {
  position: absolute;
  font-family: Impact;
  color: #050505;
  left: -10px;
  top: 250px;
  font-size: 85px;
}
