.headerBar {
    height: 5rem;
    padding: 4rem 0;
    padding: 0 10rem;
}

.headerBar h4 {
    color: white;
}

.headerBar .lang {
    margin-right: 2rem;
}

.headerBar button {
    margin: 0.2rem;
    padding: 0;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline-style: none;
}
