.cardStyle {


    background: linear-gradient(180deg, #ff6052, #ea6d62);
    min-height: 380px;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
    justify-content: center;


}