.cardStyle {
    background-image: url("../assets/images/backBlue.svg");
    background-position: center;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
    justify-content: center;
}







