.letsCard {

    background:none;
    border: none;


}

.thinkers {

}


.geometric {
    width: 20%;
    position: absolute;
    top: 120px;
}

.letsText {

    padding-right: 5rem;
    color: #b0acac;

}