

.slideContainer {

    position: relative;
    padding: 15rem 0 5rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;




}


.grid {
    position: absolute;
    left: -1000px;
    top: 300px;
    opacity: 0.7;
}
