

.slideContainer {

    position: relative;
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;



}


.grid {
    position: absolute;
    left: -1000px;
    top: 100px;
    opacity: 0.7;
}
