@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}



body {
    font-family: "Baloo Thambi 2", sans-serif;
    background-image: linear-gradient(to bottom, #000000, #0c0c0c, #141414, #1b1b1b, #212121);
    color: white;
    overflow-x: hidden !important;
    width: 100vw;
}



li {
    list-style: none;
}


a {
    text-decoration: none;
}