.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    cursor: grab;
}

.next {
    font-size: 2rem;
    transition: all 1s ease-in-out;
}

.next:hover {
    font-size: 3rem;
}

.icon {
    font-size: 2rem;
}

.rectangle {
    border: 1px solid #e2dfdf;
    width: 90px;
    height: 40px;
    position: absolute;
    left: -2rem;
    bottom: 3rem;
    z-index: -1;
}
