.workBox {
  height: 335px;
  background-color: black;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workBox h2 {
  position: absolute;
  z-index: 1;
  object-fit: contain;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-align: center;
}
