ul {
    margin: 0;
    padding: 1rem 0;
}

p{
    margin: 0;
    padding: 0;
}


a {
    padding-bottom: 5px;
}



.subHeading {
    width: 50%;
    border-bottom-width: 1px;
    border-bottom-color: #5a0000;
    border-bottom-style: solid;
    padding-bottom: 5px;
}

.contact {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-top: 1rem;
}




@media screen and (max-width: 576px){

    .contact {

        margin: 5rem 0;

    }

    .contact img {
        width: 40%;

    }

    .column {
        padding: 0 !important;
        margin: 2rem 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}