.testimonialContainer {
    padding: 15rem 0;
    background-color: white;
}

.testimonialContainer img {
    margin-left: 14.3rem;
}

.clientLogo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10rem 0;
}

.clientLogoBox {
    width: 20%;
    display: flex;
    justify-content: center !important;
    margin: 5rem 0;
}

.clientLogoBox img {
    margin: 0 !important;
}
