.header {
  background-color: black;
  min-height: 40vh;
}

.formBox label {
  margin: 1rem 0;
}

.formBox input {
  border: #d7d7d7 1px solid;
  border-radius: 5px;
  padding: 1rem;
}

.formBox input::placeholder {
  color: #bebebe;
}

.addButton {
  border-radius: 5px;
  border: 0.2px #cacaca solid;
  transition: 0.3s all ease-in-out;
}

.addButton:hover {
  background-color: black !important;
  color: white;
}

