.wrapper {
    width: 50%;
    min-height: 500px;
    margin: 5rem auto;
    position: relative;
    text-align: center;


}

.circle {
    opacity: 0.3;
    width: 70%;
}

.vinci {
    width: 40%;
    position: absolute;
    top: -20%;
    left: 30%;
}

.vinci img {
    width: 80%;
}

.title {
    position: absolute;
    bottom: -15px;
    width: 100%;
    font-size: 75px;
}

.logo {
    width: 120px;
    position: absolute;
    left: 42%;
    top: 47%;
}

.text {
    color: #7c7c7c;
    position: absolute;
    bottom: 25%;
    left: 0;
    z-index: 2;
    width: 100%;
}